body {
    background-color: rgb(224, 224, 224);
}

.trafficlight {
    border: 10px solid black;
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
}

.square {
    background-color: red;
    margin: 20px;
    padding: 20px;
    padding: 20px;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.triangle {
    background-color: yellow;
    margin: 20px;
    padding: 20px;
    padding: 20px;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    background-color: green;
    margin: 20px;
    padding: 20px;
    padding: 20px;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe {
    height: 200px;
    width: 300px;
}

#capitalcities {
    width: 150px;
    border: 5px solid black;
}

.london {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: royalblue;
    margin-bottom: 20px;
    width: 200px;
    height: 100px;
    border-radius: 40px;
}

#WASHINGTON_DC {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
    margin-bottom: 20px;
    width: 200px;
    height: 100px;

    border-radius: 40px;
}

.hello {
    background-color: tomato;
}

h3 {
    color: brown;
}

span {
    color: rgb(13, 231, 38);
}

.done {
    background-color: blue;
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gone {
    background-color: yellow;
    width: 100px;
    height: 100px;
}

.Flex-container {
    background-color: antiquewhite;
    margin-top: 70px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;

    justify-content: space-evenly;
}

.div-styling-1 {
    background-color: red;
    width: 70px;
    height: 70px;
    border-radius: 20px;
}

.div-styling-2 {
    border-radius: 20px;
    background-color: blue;
    width: 70px;
    height: 70px;
}

.heading-display {
    display: flex;
    justify-content: center;
}

.flex-con {
    display: flex;
    background-color: rgb(31, 19, 3);
    height: 300px;
    justify-content: space-around;
    align-items: center;
    /* flex-basis:; */

}

.items {
    
    height: 100px;
    background-color: aqua;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 150px;
}

.items:nth-of-type(1) {}

.items:nth-of-type(2) {}

.items:nth-of-type(3) {}